.body{
    height: calc(100vh);
    .sidebar{
        width: 65px;
        z-index: 10;
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        background-color: #fff;
    }
    .mainContent{
        width: calc(100vw - 3rem);
        background-color: #fff;
    }
}
.sidebar:hover{
    transition: 0.2s ease;
    width: 260px;
    .mainContent{
        width: calc(100vw - 260px);
    }
}