.signUpContainer {
    height: 100vh;
    width: 100vw;
}
.formContainer {
    background-color: #fff;
    // height: 65vh;
    border-radius: 10px;
}
.imageLogo{
    height: 15vh;
    width: 15vh !important;
    pointer-events: none;
    mix-blend-mode: hard-light;
    transform: scaleX(-1);
}
.signUpHeader{
    // font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
    font-size: 33px!important;
    font-weight: 700!important;
    // font-family: ORBITRON FAMILY,sans-serif!important;
    font-family: plexsans-regular, sans-serif;
    // margin-bottom: 2rem!important;
    color: #3c4858;
}

.borderContainer {
    left: 80%;
    position: relative;
    top: 39%;
    border-radius: 50%;
    border: 30px solid #02153d;
    width: fit-content;
    background-color: #fff;
}

.imageContainer {
    border-radius: 50%;
    border: 25px solid #fff;
    height: 100%;
  }
  