.signUpContainer {
    height: 100dvh;
    width: 100vw;
}

.formContainer {
    background-color: #fff;
    border-radius: 10px;
}

.imageLogo {
    height: 15dvh;
    width: 15dvh !important;
    pointer-events: none;
    mix-blend-mode: hard-light;
    transform: scaleX(-1);
}

.signUpHeader {
    font-family: auto;
    color: #3c4858;
}

.borderContainer {
    left: 80%;
    position: relative;
    top: 39%;
    border-radius: 50%;
    border: 30px solid #3c4858;
    width: fit-content;
    background-color: #fff;
}

.imageContainer {
    border-radius: 50%;
    border: 25px solid #fff;
    height: 100%;
}

@media (max-width:500px) {
    .borderContainer {
        left: auto;
        top: auto;
        margin: auto;
    }
}

.mobileSignup {
    border: 2px solid;
    border-radius: 10px;
    box-shadow: inset #3c4858 0px 1px 2px 0px;
}